.header.container {
  @media screen and (max-width: $tablet-screen) {
    max-width: 100%;
    position: relative;
  }
}

.header {
  &__bg-mobile {
    @media screen and (max-width: $tablet-screen) {
      width: 44rem;
      transform: rotate(90deg);
      position: absolute;
      margin-top: 10rem;
      right: -20%;
    }
  }
}
 
.header-contents {
  background-color: $dark-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  @media screen and (max-width: $tablet-screen) {
    flex-direction: column;
  }
  &__description {
    max-width: 20rem;
    color: white;
    font-style: italic;
    font-size: 1.8rem;
    text-align: center;
    @media screen and (max-width: $tablet-screen) {
      margin: 0;
      order: 1;
      position: relative;
      top: -35px;
    }
  }
  &__img-small {
    max-width: 17rem;
    order: 2;
  }
  &__img-logo {
    max-width: 75rem;
    @media screen and (max-width: $tablet-screen) {
      max-width: 27rem;
      order: 0;
    }
  }
  &__mobile{
    @media screen and (max-width: $tablet-screen) {
      display: flex;
      align-items: center;
      background-color: #988e8c;
      justify-content: space-evenly;
      width: 100%;
      }
      @media screen and (max-width: $tablet-screen) {
        min-height: 26vh;
        align-items: flex-end;
      }
    img {
      @media screen and (max-width: $tablet-screen) {
        max-width: 8rem;
      }
    }
    img:last-child {
      @media screen and (max-width: $tablet-screen) {
        max-width: 10rem;
      }
    }
  }
}