@charset "UTF-8";
/* COLORS */
/* BREAKPOINTS */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #988e8c;
}
@media screen and (max-width: 1024px) {
  body {
    background: #ccc;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.img-responsive {
  width: 100%;
}

.stroke {
  -webkit-text-stroke: 1px black;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.display-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .display-mobile {
    display: block;
  }
}

.display-desktop {
  display: block;
}
@media screen and (max-width: 1024px) {
  .display-desktop {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .container-mobile {
    max-width: 320px;
    margin: 0 auto;
  }
}

.bg-green {
  background-color: #1c483d;
}

.bg-blue {
  background-color: #2e6bbc;
}

.bg-red {
  background-color: #cb383c;
}

.bg-yellow {
  background-color: #debe4d;
}

.bg-gray {
  background-color: #e3dad1;
}

.bg-dark {
  background-color: #988e8c;
}

.aux-text {
  color: white;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .header.container {
    max-width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  .header__bg-mobile {
    width: 44rem;
    transform: rotate(90deg);
    position: absolute;
    margin-top: 10rem;
    right: -20%;
  }
}

.header-contents {
  background-color: #403b3d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
@media screen and (max-width: 1024px) {
  .header-contents {
    flex-direction: column;
  }
}
.header-contents__description-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 25rem;
  display: flex;
  justify-content: center;
  height: 25rem;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header-contents__description-bg {
    align-items: flex-end;
    padding-bottom: 2rem;
  }
}
.header-contents__description {
  max-width: 20rem;
  color: white;
  font-style: italic;
  font-size: 1.6rem;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .header-contents__description {
    margin: 0;
    order: 1;
    position: relative;
    top: -35px;
  }
}
.header-contents__img-small {
  max-width: 17rem;
  order: 2;
}
.header-contents__img-logo {
  max-width: 75rem;
}
@media screen and (max-width: 1024px) {
  .header-contents__img-logo {
    max-width: 27rem;
    order: 0;
  }
}
@media screen and (max-width: 1024px) {
  .header-contents__mobile {
    display: flex;
    align-items: center;
    background-color: #988e8c;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .header-contents__mobile {
    min-height: 26vh;
    align-items: flex-end;
  }
}
@media screen and (max-width: 1024px) {
  .header-contents__mobile img {
    max-width: 8rem;
  }
}
@media screen and (max-width: 1024px) {
  .header-contents__mobile img:last-child {
    max-width: 10rem;
  }
}

/* SECTION 1 - Retangulo aureo */
.retangulo {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 5rem;
  position: relative;
  overflow: hidden;
}
.retangulo .flex > div {
  width: 33%;
}
@media screen and (max-width: 1024px) {
  .retangulo .flex > div {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1024px) {
  .retangulo .flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .retangulo {
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    margin-top: 4rem;
  }
}
.retangulo__bg {
  position: absolute;
  width: 85%;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .retangulo__bg {
    width: 655px;
    right: -130px;
    top: -150px;
  }
}
.retangulo__col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .retangulo__col1 {
    order: 2;
  }
}
.retangulo__col1 .podcast-container {
  max-width: 29rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.retangulo__col1 p {
  color: white;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
}
.retangulo__col1 .col1-img01 {
  max-width: 200px;
}
@media screen and (max-width: 1024px) {
  .retangulo__col1 .col1-img01 {
    position: absolute;
    bottom: -36px;
    z-index: 2;
    right: 20px;
    max-width: 140px;
  }
}
.retangulo__col1 .col1-img02 {
  position: relative;
}
.retangulo__col1 .col1-img02 p {
  position: absolute;
  top: 50%;
  right: 50%;
  text-align: center;
  font-family: "Impact", Arial, Helvetica, sans-serif;
  font-size: 4rem;
  transform: translate(50%, -50%);
  margin: 0;
  -webkit-text-stroke: 1px white;
}
.retangulo__col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .retangulo__col2 {
    order: 2;
    flex-direction: column;
    padding: 3rem;
  }
}
.retangulo__col2 .check-itens {
  max-width: 30rem;
}
@media screen and (max-width: 1024px) {
  .retangulo__col2 .check-itens {
    max-width: 100%;
  }
}
.retangulo__col2 .check-itens > p {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}
.retangulo__col2 .check-itens .img-check {
  max-width: 3rem;
  margin-right: 1rem;
}
.retangulo__col2 .check-itens ul {
  padding: 0;
}
.retangulo__col2 .check-itens ul li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  list-style: none;
}
.retangulo__col2 img {
  max-width: 15rem;
}
.retangulo__col2 .col2-text {
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #debe4d;
  font-size: 4rem;
  font-weight: bold;
  transform: rotate(90deg);
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 1024px) {
  .retangulo__col2 .col2-text {
    transform: rotate(0deg);
    font-size: 2rem;
    max-width: 16rem;
  }
}
.retangulo__col2 .memes-container {
  position: relative;
  margin-top: 7rem;
}
@media screen and (max-width: 1024px) {
  .retangulo__col2 .memes-container {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
.retangulo__col2 .memes-container__meme {
  position: absolute;
  max-width: 7rem;
}
.retangulo__col2 .memes-container__meme:first-child {
  right: -90px;
}
.retangulo__col2 .memes-container__meme:nth-child(2) {
  right: -15px;
  bottom: -8px;
}
.retangulo__col2 .memes-container__meme:nth-child(3) {
  left: -100px;
  top: -50px;
}
.retangulo__col2 .memes-container__meme:nth-child(4) {
  left: -60px;
}
.retangulo__col2 .text-espiral {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: white;
}
.retangulo__col3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .retangulo__col3 {
    order: 0;
  }
}
.retangulo__col3 video {
  height: 100%;
  width: 100%;
  max-width: 92rem;
}
@media screen and (max-width: 1024px) {
  .retangulo__col3 video {
    height: 30%;
  }
}

/* SECTION 2 - Dialogo */
.dialogo {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .dialogo {
    overflow: hidden;
  }
}
.dialogo-box {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .dialogo-box {
    display: none;
  }
}
.dialogo-box .col2 {
  max-width: 50%;
  width: 100%;
  position: relative;
  min-height: 35rem;
}
.dialogo-box .col2 img {
  max-width: 28rem;
  position: absolute;
  z-index: 14;
}
.dialogo-box__bg {
  position: absolute;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .dialogo-box__bg {
    width: 600px;
    overflow: hidden;
    top: 100px;
  }
}

.dialogo2-box {
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .dialogo2-box {
    flex-direction: column;
  }
}
.dialogo2__col1 {
  padding: 5rem;
  max-width: 48%;
  width: 100%;
  color: #debe4d;
}
@media screen and (max-width: 1024px) {
  .dialogo2__col1 {
    max-width: 100%;
  }
}
.dialogo2__col1 > div {
  max-width: 30rem;
  margin: 0 auto;
}
.dialogo2__col1-num1 {
  font-family: "everybody.worldblack";
  font-size: 7rem;
  margin: 0;
  -webkit-text-stroke: 1px #debe4d;
  color: transparent;
  text-align: center;
}
.dialogo2__col1-text1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}
.dialogo2__col2 {
  padding: 5rem;
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .dialogo2__col2 {
    max-width: 100%;
  }
}
.dialogo2__col2-text1 {
  font-family: "Impact", Arial, Helvetica, sans-serif;
  color: #e1acbc;
  text-align: center;
  max-width: 45rem;
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .dialogo2__col2-text1 {
    font-size: 3rem;
  }
}
.dialogo2__col2-text2 {
  font-size: 3rem;
  text-align: center;
  max-width: 53rem;
  font-style: italic;
  color: #debe4d;
  font-weight: bold;
  position: absolute;
  bottom: -73px;
}
@media screen and (max-width: 1024px) {
  .dialogo2__col2-text2 {
    width: 100%;
    position: static;
    font-size: 2rem;
    margin: 0;
  }
}

/* BLUE SEPARATOR */
.separator {
  min-height: 35rem;
  max-width: 96%;
  margin: 0 auto;
}

/* SECTION 3 - ESPIRAL */
.espiral__img {
  position: absolute;
  width: 12rem;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .espiral__img {
    width: 7rem;
  }
}
.espiral__img-1 {
  right: 0;
}
.espiral__img-2 {
  top: 50%;
  left: 8%;
}
.espiral__img-3 {
  top: 60%;
  right: 30%;
}
.espiral__img-4 {
  top: 70%;
}
.espiral__img-5 {
  bottom: 0;
  right: 11%;
}
.espiral-box {
  position: relative;
  padding-top: 12rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  top: -20rem;
}
@media screen and (max-width: 1024px) {
  .espiral-box {
    padding-top: 0rem;
    top: 0;
  }
}
.espiral-box__content {
  padding: 7rem 0;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
  bottom: -10rem;
}
@media screen and (max-width: 1024px) {
  .espiral-box__content {
    bottom: 0;
  }
}
.espiral-box__content p {
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  margin: 0;
  letter-spacing: 1px;
}

/* SECTION 4 -CTRL C */
.ctrl-c {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .ctrl-c {
    margin-top: 4rem;
  }
}
.ctrl-c__overlay {
  font-family: "everybody.worldblack";
  position: absolute;
  font-size: 12rem;
  font-weight: bold;
  transform: rotate(90deg);
  left: 18rem;
  top: 9rem;
  color: #debe4d;
}
@media screen and (max-width: 1024px) {
  .ctrl-c__overlay {
    transform: rotate(0deg) translate(-50%, 0);
    left: 50%;
    font-size: 5rem;
    width: 100%;
    text-align: center;
  }
}
.ctrl-c__row1 {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .ctrl-c__row1 {
    flex-direction: column;
  }
}
.ctrl-c__col-principal {
  max-width: 60rem;
}
.ctrl-c__col {
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .ctrl-c__col {
    width: 100%;
  }
}
.ctrl-c__col p {
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: #cb383c;
  font-size: 1.8rem;
  padding-left: 4rem;
  margin: 0;
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .ctrl-c__col p {
    padding: 1.5rem;
    text-align: center;
  }
}
.ctrl-c__row2 {
  position: relative;
  padding: 11rem 0;
}
@media screen and (max-width: 1024px) {
  .ctrl-c__row2 {
    padding: 2rem;
  }
}
.ctrl-c__row2 p {
  font-size: 2.3rem;
  max-width: 35rem;
  font-style: italic;
  color: #debe4d;
  font-weight: bold;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .ctrl-c__row2 p {
    text-align: right;
    padding: 2rem;
  }
}
.ctrl-c__row2-bg {
  position: absolute;
  top: 0;
}

/* SECTION 5 - JOGO */
.jogo {
  padding: 4rem 10rem;
}
@media screen and (max-width: 1024px) {
  .jogo {
    padding: 2rem;
    margin-bottom: 1rem;
    overflow: hidden;
  }
}
.jogo img {
  width: 600px;
  overflow: hidden;
}
.jogo__box {
  max-width: 40rem;
}
.jogo__box-title {
  font-size: 3.3rem;
  max-width: 35rem;
  font-style: italic;
  color: #debe4d;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .jogo__box-title {
    font-size: 2.3rem;
  }
}
.jogo__box-text {
  margin: 0;
  font-size: 1.6rem;
  color: #1c483d;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
@media screen and (max-width: 1024px) {
  .jogo__box-text {
    font-size: 1.3rem;
  }
}

/* SECTION 6 - Tudo é relativo */
.relativo {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: -10rem;
}
@media screen and (max-width: 1024px) {
  .relativo {
    margin-bottom: 0;
  }
}
.relativo__title {
  font-family: "Impact", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
  letter-spacing: 1rem;
  font-size: 15rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: transparent;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .relativo__title {
    font-size: 4rem;
    letter-spacing: 0;
  }
}

/* SECTION 7 - Emissor */
.emissor {
  padding: 4rem;
  position: relative;
  margin-bottom: -5rem;
}
@media screen and (max-width: 1024px) {
  .emissor {
    padding: 1rem;
    margin-bottom: 0;
  }
}
.emissor__box {
  display: flex;
  align-items: center;
  max-width: 120rem;
  justify-content: center;
  margin: 0 auto;
}
.emissor__box img {
  max-width: 75%;
}
@media screen and (max-width: 1024px) {
  .emissor__box img {
    max-width: 15rem;
    width: 100%;
  }
}
.emissor__box p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.6rem;
  font-style: italic;
  margin-right: 2rem;
  margin-left: 2rem;
}
@media screen and (max-width: 1024px) {
  .emissor__box p {
    font-size: 1rem;
  }
}
.emissor__box p:first-child {
  margin-top: 6rem;
}
@media screen and (max-width: 1024px) {
  .emissor__box p:first-child {
    margin-top: 0;
  }
}

/* FOOTER */
.footer {
  position: relative;
  background-color: #403b3d;
  padding: 3rem 0;
}
.footer > div {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.footer__box {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  .footer__box {
    flex-direction: column;
    font-size: 1.5rem;
    padding: 3rem;
  }
}
.footer__box > div:first-child {
  width: 55%;
  max-width: 380px;
  text-align: right;
  margin-right: 3rem;
}
@media screen and (max-width: 1024px) {
  .footer__box > div:first-child {
    width: 100%;
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
}
.footer__box > div:last-child {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .footer__box > div:last-child {
    width: 100%;
    margin-top: 2rem;
  }
}
.footer__box .footer-time p {
  margin: 5px 0;
}
.footer__box .footer-time p .highlight {
  background-color: yellow;
  color: black;
}

/*# sourceMappingURL=style.css.map */
