* {
  box-sizing: border-box;
} 

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: $gray-color;
}

a {
  text-decoration: none;
  color: inherit;
}

.img-responsive {
  width: 100%;
}