/* COLORS */
$dark-color: #403b3d;
$gray-color: #988e8c;

$yellow: #debe4d;
$pink: #e1acbc;
$green: #1c483d;
$blue: #2e6bbc;
$red: #cb383c;
$gray: #e3dad1;


/* BREAKPOINTS */
$desktop-screen: 1920px;
$tablet-screen: 1024px;
$portrait-screen: 768px;
$mobile-screen: 420px;